# Notes sur l'extension [Pandas](https://pandas.pydata.org/docs/)

Je commence par le tutoriel qui sur [cette page](https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html#min-tut-01-tableoriented)

In [6]:
import pandas as pd

Commençons par un `dataframe` simple.

In [7]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [8]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

`df["Age"]` est une série Pandas. On remarquera que chaque élément est toujours indexé. Pour transformer cette série en véritable liste Python, il faut utiliser la méthode `tolist`.

In [9]:
df["Age"].tolist()

[22, 35, 58]

Et si on veut obtenir une suite d'éléments, il faut utiliser l'astérisque.

In [14]:
print(*df["Age"].tolist())

22 35 58